footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  margin: 20px;
  width: calc(20% - 20px);
}

.section h2 {
  margin-top: 0;
}

.section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section li {
  margin-bottom: 10px;
}

.section a {
  color: #fff;
  text-decoration: none;
}

.social-media {
  margin-top: 20px;
}

.media-icon {
  margin: 10px;
  font-size: 24px;
  color: #fff;
}

.media-icon:hover {
  color: #ccc;
}